<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <div class="hero__descr">
        <h1 class="visually-hidden">High Pass - фотостудия</h1>
        <span class="hero__main-descr">Мастер-класс от&nbsp;Игоря Робова</span>
        <h2 class="hero__main-title">Неоновый фотосет 2.0 7&nbsp;июля 20:00</h2>
        <a class="hero__main-btn btn--fill btn link" href="/" aria-label="Узнать больше о мастер-классе">Узнать
          больше</a>
      </div>
      <a class="hero__left-hashtag hashtag link">#мастеркласс</a>
    </div>
    <div class="hero__right-top">
      <h3 class="hero__subtitle title-bold">Работы участников предыдущего мастер-класса</h3>
      <div class="hero__right-image">
        <picture>
          <source srcset="img/hero-2-320.jpg" media="(max-width: 576px)">
          <source srcset="img/hero-2-768.jpg" media="(max-width: 992px)">
          <source srcset="img/hero-2-1024.jpg" media="(max-width: 1024px)">
          <img loading="lazy" class="hero__image" src="img/hero-2.jpg" alt="Пример фото с неонового фотосета">
        </picture>
      </div>
    </div>
    <div class="hero__right-bottom-1">
      <picture>
        <source srcset="img/hero-3-320.jpg" media="(max-width: 576px)">
        <source srcset="img/hero-3-768.jpg" media="(max-width: 992px)">
        <source srcset="img/hero-3-1024.jpg" media="(max-width: 1024px)">
        <img loading="lazy" class="hero__image" src="img/hero-3.jpg" alt="Пример фото с неонового фотосета">
      </picture>
    </div>
    <div class="hero__right-bottom-2">
      <picture>
        <source srcset="img/hero-4-320.jpg" media="(max-width: 576px)">
        <source srcset="img/hero-4-768.jpg" media="(max-width: 992px)">
        <source srcset="img/hero-4-1024.jpg" media="(max-width: 1024px)">
        <img loading="lazy" class="hero__image" src="img/hero-4.jpg" alt="Пример фото с неонового фотосета">
      </picture>
    </div>
  </div>
</section>
