<section class="projects" id="projects">
  <div class="container projects__container">
    <h2 class="projects__title title-bold">Наши проекты</h2>
    <div class="projects__grid">
      <div class="projects__item projects__item--small">
        <a class="projects__item-hashtag projects__hashtag-1 hashtag link">#пейзаж</a>
        <div class="projects__image projects__image--small">
          <picture>
            <source srcset="img/project-landscape-320.jpg" media="(max-width: 576px)">
            <source srcset="img/project-landscape-1024.jpg" media="(max-width: 1200px)">
            <img loading="lazy" src="img/project-landscape.jpg" alt="Фото природы">
          </picture>
        </div>
        <p class="projects__descr projects__descr-1920 text-black">Синтетически, смешаны
          с&nbsp;не&nbsp;уникальными данными до&nbsp;степени...</p>
        <p class="projects__descr-1024 text-black">Синтетически, смешаны с&nbsp;не&nbsp;уникальными...</p>
        <div class="projects__date">
          <svg class="projects__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="date">16 июня</span>
        </div>
      </div>
      <div class="projects__item projects__item--small">
        <a class="projects__item-hashtag projects__hashtag-2 hashtag link">#портрет</a>
        <div class="projects__image projects__image--small">
          <picture>
            <source srcset="img/project-1-portrait-320.jpg" media="(max-width: 576px)">
            <source srcset="img/project-1-portrait-1024.jpg" media="(max-width: 1200px)">
            <img loading="lazy" src="img/project-1-portrait.jpg" alt="Фото мужчины">
          </picture>
        </div>
        <p class="projects__descr projects__descr-1920 text-black">В&nbsp;своём стремлении улучшить опыт&nbsp;мы
          упускаем, что явные...</p>
        <p class="projects__descr-1024 text-black">В&nbsp;своём стремлении улучшить опыт&nbsp;мы...</p>
        <div class="projects__date">
          <svg class="projects__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="date">28 мая</span>
        </div>
      </div>
      <div class="projects__item projects__item--small">
        <a class="projects__item-hashtag projects__hashtag-3 hashtag link">#предмет</a>
        <div class="projects__image projects__image--small">
          <picture>
            <source srcset="img/project-things-320.jpg" media="(max-width: 576px)">
            <source srcset="img/project-things-768.jpg" media="(max-width: 768px)">
            <source srcset="img/project-things-1024.jpg" media="(max-width: 1200px)">
            <img loading="lazy" src="img/project-things.jpg" alt="Фото предметов">
          </picture>
        </div>
        <p class="projects__descr projects__descr-1920 text-black">Равным образом, высокое качество позиционных...
        </p>
        <p class="projects__descr-1024 text-black">Равным образом, высокое качество позиционных
          высокотехнологичная концепция общественного уклада</p>
        <div class="projects__date">
          <svg class="projects__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="date">14 мая</span>
        </div>
      </div>
      <div class="projects__item projects__item--big projects__item--big-1">
        <a class="projects__item-hashtag projects__hashtag-4 hashtag link">#fuji</a>
        <div class="projects__item-big-descr">
          <div class="projects__date projects__date--white">
            <svg class="projects__svg">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="date date--white">9 апреля</span>
          </div>
          <h3 class="projects__subtitle title-bold">Cемантический разбор</h3>
          <p class="projects__descr text-white">В&nbsp;рамках спецификации современных стандартов, интерактивные
            прототипы</p>
          <a class="projects__btn btn-reset btn btn--not-fill link" href="/" aria-label="Узнать подробнее о проекте">О проекте</a>
        </div>
      </div>
      <div class="projects__item projects__item--big projects__item--big-2">
        <a class="projects__item-hashtag projects__hashtag-5 projects__item-hashtag--bottom hashtag link">#проектзабвение</a>
        <div class="projects__item-big-descr">
          <div class="projects__date projects__date--white">
            <svg class="projects__svg">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="date date--white">20 марта</span>
          </div>
          <h3 class="projects__subtitle title-bold">Забвение</h3>
          <p class="projects__descr text-white">Играет важную роль в&nbsp;формировании глубокомысленных рассуждений
          </p>
          <a class="projects__btn btn-reset btn btn--not-fill link" href="/" aria-label="Узнать подробнее о проекте">О проекте</a>
        </div>
      </div>
      <div class="projects__item projects__item--middle">
        <a class="projects__item-hashtag projects__hashtag-6 projects__item-hashtag--bottom hashtag link">#ретушь</a>
        <div class="projects__image projects__image--middle">
          <picture>
            <source srcset="img/project-retouch-320.jpg" media="(max-width: 576px)">
            <source srcset="img/project-retouch-1024.jpg" media="(max-width: 1200px)">
            <img loading="lazy" src="img/project-retouch.jpg" alt="Натюрморт">
          </picture>
        </div>
        <p class="projects__descr projects__descr--bottom text-black">Как принято считать, многие известные личности
          и&nbsp;по&nbsp;сей день остаются уделом либералов...</p>
        <div class="projects__date">
          <svg class="projects__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="date">9 марта</span>
        </div>
      </div>
      <div class="projects__item projects__item--middle">
        <a class="projects__item-hashtag projects__hashtag-7 projects__item-hashtag--bottom hashtag link">#портрет</a>
        <div class="projects__image projects__image--middle">
          <picture>
            <source srcset="img/project-2-portrait-320.jpg" media="(max-width: 576px)">
            <source srcset="img/project-2-portrait-1024.jpg" media="(max-width: 1200px)">
            <img loading="lazy" src="img/project-2-portrait.jpg" alt="Фото девушки">
          </picture>
        </div>
        <p class="projects__descr projects__descr--bottom text-black">С учётом сложившейся международной обстановки,
          новая модель организационной...</p>
        <div class="projects__date">
          <svg class="projects__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <span class="date">1 марта</span>
        </div>
      </div>
    </div>
  </div>
</section>
