:root {
  --white-color: #fff;
  --orange-color: #FF6E30;
  --black-color: #202020;
  --silver-color: #CACACA;
  --gray-color: #999999;
  --dark-gray-color: #4A4A4A;
  --mercury-color: #E9E9E9;
  --orange-active-color: #CE4307;
  --orange-focus-color: #BC572B;
  --red-orange-color: #FF3030;
  --sienna-color: #F06666;
  
  --grid-gap: 30px;

  --font-family: 'TT-Firs-Neue', 'Roboto', sans-serif;


  // --TT-regular: 400 16px / 104% var(--font-family);
}